{% extends "_skeleton2_template.html" %}
{% block title %}Lamar's Web Apps - Twata{% endblock %}
{% block content %}
<div class="container">
    <p class="lead">Twitter data collection - New topic every week</p>
    <p style="text-align:left; position:relative; bottom:10px; left:5px">
        <span style="font-size:15pt;"><strong>Graph started collecting tweets: </strong>{{date}}</span>
    </p>

    <div class="row justify-content-between">
        <div class="col-xs-11 col-md-5">
            <center><h3>Positive Tweet Count</h3></center>
            <div class="graph" id="pos_graph">

                <script>
                    var dataArray = {{pos_latestScores_ordered}}; var graphHeight = {{pos_graphHeight}}; 
                    var svg = d3.select("#pos_graph").append("svg")
                                  .attr("height","400px")
                                  .attr("width","100%")
                                  .attr("z-index","70")
                                  .attr("position", "relative")
                                  .attr("top", "0")
                                  .attr("left", "0");

                        svg.selectAll("rect")
                            .data(dataArray)
                            .enter().append("rect")
                                  .attr("class", "bar")
                                  .attr("height", function(d, i) {return (400*d/graphHeight)})
                                  .attr("width","{{100/x_cats | count - 10 }}%")
                                  .attr("z-index","80")
                                  .attr("x", function(d, i) {return 100/{{x_cats | count}} * i + 5 + "%"})
                                  .attr("y", function(d, i) {return 400 - (400*d/graphHeight)});

                        svg.selectAll("text")
                            .data(dataArray)
                            .enter().append("text")
                            .text(function(d) {return d})
                                   .attr("class", "text")
                                   .attr("z-index","90")
                                   .attr("x", function(d, i) {return 100/{{x_cats | count}} * i + 7 + "%"})
                                   .attr("y", function(d, i) {return 420 - (400*d/graphHeight)});
                </script>
                <div id='xLabelArea'>
                    {% set num_cats = x_cats | count %}
                    {% set cat_num = 0 %}
                    {% for category in x_cats %}
                        <div class='xLabel' style='left:{{100/num_cats * cat_num}}%; width:{{100/num_cats}}%;'><center><strong>{{category}}</strong></center></div>
                        {% set cat_num = cat_num + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xs-11 col-md-5">
            <center><h3>Negative Tweet Count</h3></center>
            <div class="graph" id="neg_graph">
                <script>
                    var dataArray = {{neg_latestScores_ordered}}; var graphHeight = {{neg_graphHeight}}; 
                    var svg = d3.select("#neg_graph").append("svg")
                                  .attr("height","400px")
                                  .attr("width","100%")
                                  .attr("z-index","70")
                                  .attr("position", "fixed")
                                  .attr("top", "0")
                                  .attr("left", "0");

                        svg.selectAll("rect")
                            .data(dataArray)
                            .enter().append("rect")
                                  .attr("class", "bar")
                                  .attr("height", function(d, i) {return (400*d/graphHeight)})
                                  .attr("width","{{100/num_cats - 10 }}%")
                                  .attr("z-index","80")
                                  .attr("x", function(d, i) {return 100/{{x_cats | count}} * i + 5 + "%"})
                                  .attr("y", function(d, i) {return 400 - (400*d/graphHeight)});

                        svg.selectAll("text")
                            .data(dataArray)
                            .enter().append("text")
                            .text(function(d) {return d})
                                   .attr("class", "text")
                                   .attr("z-index","90")
                                   .attr("x", function(d, i) {return 100/{{x_cats | count}} * i + 7 + "%"})
                                   .attr("y", function(d, i) {return 420 - (400*d/graphHeight)});
                </script>
                <div id='xLabelArea'>
                    {% set num_cats = x_cats | count %}
                    {% set cat_num = 0 %}
                    {% for category in x_cats %}
                        <div class='xLabel' style='left:{{100/num_cats * cat_num}}%; width:{{100/num_cats}}%;'><center><strong>{{category}}</strong></center></div>
                        {% set cat_num = cat_num + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-xs-11 col-md-5">
          <center><h3>Positive Tweets</h3></center>
            <div class="graph"></div>
        </div>
        <div class="col-xs-11 col-md-5 col-md-offset-1">
          <center><h3>Negative Tweets</h3></center>
            <div class="graph"></div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-11 col-md-11">
            <center><h3>Timeline Tweet Count</h3></center>
            <div class="graph" id="line_graph"><script>
                    var negDataArray = {{neg_latestScores_ordered}}; var graphHeight = {{neg_graphHeight}}>{{pos_graphHeight}}?{{neg_graphHeight}}:{{pos_graphHeight}}; 
                    var posDataArray = {{pos_latestScores_ordered}};
                    var svg = d3.select("#line_graph").append("svg")
                                  .attr("height","400px")
                                  .attr("width","100%")
                                  .attr("z-index","70")
                                  .attr("position", "fixed")
                                  .attr("top", "0")
                                  .attr("left", "0");
                    
                        svg.selectAll('negLine')
                            .data(negDataArray)
                            .enter().append("line")
                                .attr("class", "line")
                                .attr("stroke","#ffd5d6")
                                .attr("z-index","70")
                                .attr("x1", function(d, i) { var prevData = i>0?i-1:0; return i>0?100/{{x_cats | count}} * prevData + 6.5 + "%": 0;})
                                .attr("y1", function(d, i) { var prevData = i>0?negDataArray[i-1]:0; return 403 - (400*prevData/graphHeight)})
                                .attr("x2", function(d, i) { return 100/{{x_cats | count}} * i + 6.5 + "%"})
                                .attr("y2", function(d, i) { return 403 - (400*d/graphHeight)});
                    
                        svg.selectAll('posLine')
                            .data(posDataArray)
                            .enter().append("line")
                                .attr("class", "line")
                                .attr("stroke","#9fe7f5")
                                .attr("z-index","70")
                                .attr("x1", function(d, i) { var prevData = i>0?i-1:0; return i>0?100/{{x_cats | count}} * prevData + 6.5 + "%": 0;})
                                .attr("y1", function(d, i) { var prevData = i>0?posDataArray[i-1]:0; return 403 - (400*prevData/graphHeight)})
                                .attr("x2", function(d, i) { return 100/{{x_cats | count}} * i + 6.5 + "%"})
                                .attr("y2", function(d, i) { return 403 - (400*d/graphHeight)});

                        svg.selectAll("negCircle")
                            .data(negDataArray)
                            .enter().append("circle")
                                  .attr("class", "dot")
                                  .attr("fill", "red")      
                                  .attr("r", "10")
                                  .attr("z-index","80")
                                  .attr("cx", function(d, i) {return 100/{{x_cats | count}} * i + 7 + "%"})
                                  .attr("cy", function(d, i) {return 400 - (400*d/graphHeight)});

                        svg.selectAll("posCircle")
                            .data(posDataArray)
                            .enter().append("circle")
                                  .attr("class", "dot")
                                  .attr("fill", "blue")
                                  .attr("r", "10")
                                  .attr("z-index","80")
                                  .attr("cx", function(d, i) {return 100/{{x_cats | count}} * i + 7 + "%"})
                                  .attr("cy", function(d, i) {return 400 - (400*d/graphHeight)});

                </script>
            </div>
            #create a dictionary of lists including the date, num pos tweets and num neg tweets
            #https://bl.ocks.org/mbostock/3883245
        </div>
    </div>
</div>
{% endblock %}