{% extends "_skeleton_template.html" %}
{% block title %}Lamar's Web Apps - Site Sleuth{% endblock %}
{% block content %}
<div class="info-pulse"></div>

<div class="container">
    <br>
    <div id='search-section'>
        <img src="../../static/site_sleuth_static/crest.png" id='crest'>

        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-8" id="site-input">
                <div id='property'><p><font style='color:#6B582D;'>RESTRICTED USER ACCESS </font><font style='color:white;'>| PROPERTY OF SITE SLEUTH</font></div>
                <br>
                <input type='textarea' id='search-bar' form='textform' name='website' placeholder="ENTER A WEBSITE URL">
                <form action="{{ url_for('site_sleuth_result')}}" id='textform' method='post'>
                    <button type="submit" id='submitButton' form='textform'><img src="../../static/site_sleuth_static/search.png" id='search-image'></button>
                </form>
                <div id="samples">
                    <div class="col-xs-12 col-md-3">
                        <div class="sample-button" title="http://www.lamartalkscode.com/">SAMPLE</div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="sample-button" title="http://www.ted.com/">SAMPLE</div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="sample-button" title="http://www.last.fm/">SAMPLE</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-8 info-panel" id="app-info">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p>Site Sleuth is a proprietary software, developed by the world renowned data detective, Lamar Johnson. It is the central hub for all of your need-to-know website sleuthing needs! If you're looking for some background info on a website, submit a URL and see what you can uncover.</p>
            </div>
        </div>
        <script>
        $(document).ready(function(){
            $(".info-pulse").click(function(){
                $(".info-panel").show(500);
            });
        });
        </script>
        <script src="../../static/site_sleuth_static/sample_website.js"></script>
    </div>
</div>
{% endblock %}