@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

body {
    background: url('grid.png');
}

#content-box {
    border: 1px solid #0070C0;
    margin: 10px;
}

#home {
    width: 100%;
}

.notify {
    position: absolute;
    border: 3px solid lightblue;
    -webkit-border-radius: 20px;
    height: 20px;
    width: 20px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;    
}

.starter-left {
    margin: 3%
}

#agent {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 5%;
    font-size: 18px;
    color: #0070C0;
    text-align: center;
}

.personal-info-box {
    position: relative;
    width: 100%;
    height: 25px;
    font-family: 'PT Mono', monospace;
}

.personal-info-label {
    position: absolute;
    left: 0;
    width: 40%;
    margin: 5%;
    font-size: 14px;
    color: #0070C0;
    text-align: right;
}

.personal-info-info {
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    margin: 5%;
    font-size: 14px;
    color: #00B0F0;
}

#starter-right {
    margin: 3%;
}

#socials-title {
    position: absolute;
    top: -10px;
    right: 5%;
    border: 1px solid #0070C0;
    border-radius: 0.3em;
    background-color: #00384D;
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    color: #00B0F0;
}

#social-box-area {
    border: 1px solid #0070C0;
    background-color: rgba(0,56,77,0.55);
    width: 70%;
    margin-left: 30%;
}

.logo {
    width: 40px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
    opacity: 30%;
    position: relative;
    right: 0;
}

#appearance {
    border: 1px solid #0070C0;
    background-color: rgba(0,56,77,0.55);
    position: relative;
    margin: 7%;
}

#me {
    width: 130px;
    margin: 3%;
}

#appearance-title {
    position: absolute;
    top: -10px;
    right: 5%;
    border: 1px solid #0070C0;
    border-radius: 0.3em;
    background-color: #00384D;
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    color: #00B0F0;
}

#appearance-box-area {
    position: absolute;
    left: 150px;
    top: 5px;
    width: 60%;
    margin-right: 10px;
    margin-left: 10px;
}

.appearance-box {
    position: relative;
    top: 15px;
    margin: 7px;
    width: 90%;
    height: 35px;
    display: table;
}

.appearance-box-label {
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    border: 1px solid #0070C0;
    border-radius: 0.5em;
    background-color: rgba(0,56,77,0.55);
    font-family: 'PT Mono', monospace;
    font-size: 12px;
    color: #00B0F0;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    display: table-cell;
}

.appearance-box-info {
    position: absolute;
    left: 50%;
    width: 45%;
    height: 100%;
    border: 1px solid #0070C0;
    border-radius: 0.5em;
    background-color: rgba(0,56,77,0.55);
    font-family: 'PT Mono', monospace;
    font-size: 12px;
    color: #00B0F0;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    display: table-cell;
}

#eye {
    background-color: #341910;
}

#hair1 {
    background-color: #24181A;
    width: 20%;
}

#hair2 {
    background-color: #998E9B;
    width: 20%;
    left: 75%;
}

#map-area {
    position: relative;
}

#map {
    width: 100%;
    margin-top: 10%;
}

#current-location {
    position: absolute;
    top: 49%;
    left: 25%;
    border: 3px solid darkorange;
    -webkit-border-radius: 20px;
    height: 20px;
    width: 20px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;    
    cursor: pointer;
}

.nationalities {
    display: none;
    position: absolute;
    border: 3px solid lightgray;
    -webkit-border-radius: 20px;
    height: 20px;
    width: 20px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;    
    cursor: pointer;
}

.visited {
    display: none;
    position: absolute;
    border: 3px solid greenyellow;
    -webkit-border-radius: 20px;
    height: 20px;
    width: 20px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;    
    cursor: pointer;
}

#jamaica {
    top: 60%;
    left: 25%;
}

#italy {
    top: 47%;
    left: 48%;
}

#czech {
    top: 43%;
    left: 49%;
}

#croatia {
    top: 45%;
    left: 50%;
}

#dominican {
    top: 59%;
    left: 26%;
}

#cuba {
    top: 58%;
    left: 24%;
}

.tooltip-inner {
    color: white !important;
    background-color: rgba(173, 22, 77, .85) !important;
    min-width: 320px;
}

#icon-current-location {
    position: absolute;
    bottom: 21%;
    left: 10px;
    height: 20px;
    width: 20px;    
    cursor: pointer;
}

#icon-nationalities {
    position: absolute;
    bottom: 13%;
    left: 10px;
    height: 20px;
    width: 20px;    
    cursor: pointer;
}

#icon-visited {
    position: absolute;
    bottom: 5%;
    left: 10px;
    height: 20px;
    width: 20px;    
    cursor: pointer;
}

#languages {
    width: 100%;
    height: 50px;
    position: relative;
}

#languages-title {
    position: absolute;
    width: 100px;
    top: -10px;
    right: 5%;
    border: 1px solid #0070C0;
    border-radius: 0.3em;
    background-color: #00384D;
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    color: #00B0F0;
    text-align: center;
}

#voicebox-area {
    width: 100%;
    display: flex;
    justify-content:space-between;
    border-top:  1px solid #0070C0;
}

.waves {
    width: 20%;
    height: 50px;
    margin-top: 3%;
    margin-bottom: 3%;
}

#languages-area {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.language {
    width: 70px;
    border: 1px solid #0070C0;
    border-radius: 0.3em;
    background-color: rgba(180,25,155,0.25);
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    color: #00B0F0;
    text-align: center;
}

#academics-title {
    position: relative;
    width: 200px;
    top: 10px;
    left: 5%;
    border: 1px solid #0070C0;
    border-radius: 0.3em;
    background-color: #00384D;
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    color: #00B0F0;
    text-align: center;
}

#academics-area {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content:space-between;
    border-top:  1px solid #0070C0;
}

.academic-item {
    position: absolute;
    height: 25px;
    line-height: 25px;
    color: #00B0F0;
    border: 1px solid #0070C0;
    border-radius: 0.3em;
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

#york {
    position: absolute;
    top: 30%;
    left: 3%;
    width: 10%;
}

#psychology {
    top: 30%;
    left: 15%;
    width: 20%;
    height: 35px;
    line-height: 35px;
    background-color: rgba(255, 118, 54, 0.3);
}

#neuroscience {
    top: 57%;
    left: 20%;
    width: 20%;
    background-color: rgba(255,118,54,0.3);
}

#social-psych {
    top: 80%;
    left: 20%;
    width: 23%;
    background-color: rgba(255,118,54,0.3);
}

#anatomy {
    top: 57%;
    left: 43%;
    width: 20%;
    background-color: rgba(255,118,54,0.3);
}

#power-dynamics {
    top: 80%;
    left: 46%;
    width: 27%;
    background-color: rgba(255,118,54,0.3);
}

#grades {
    top: 27%;
    left: 70%;
}

#honour-roll {
    top: 30%;
    left: 37%;
    width: 35%;
    height: 35px;
    line-height: 35px;
    background-color: rgba(255,192,0,0.3);
}

#linguistics {
    top: 30%;
    left: 74%;
    width: 23%;
    height: 35px;
    line-height: 35px;
    background-color: rgba(0,176,80,0.3);
}

#neurolinguistics {   
    top: 50%;
    left: 78%;
    width: 20%;
    background-color: rgba(0,176,80,0.3);
}

#psycholinguistics {
    top: 65%;
    left: 78%;
    width: 20%;
    background-color: rgba(0,176,80,0.3);
}

#discourse-analysis {
    top: 80%;
    left: 78%;
    width: 20%;
    background-color: rgba(0,176,80,0.3);
}

.academic-connector {
    position: absolute;
}

#academic-connector-1 {
    top: 50%;
    left: 18%;
    height: 30px;
    width: 1%;
    border-left: 1px solid #0070C0;
    border-bottom: 1px solid #0070C0;
}

#academic-connector-2 {
    top: 72%;
    left: 18%;
    height: 30px;
    width: 1%;
    border-left: 1px solid #0070C0;
    border-bottom: 1px solid #0070C0;
}

#academic-connector-3 {
    top: 63%;
    left: 41%;
    width: 1%;
    border-left: 1px solid #0070C0;
    border-bottom: 1px solid #0070C0;
}

#academic-connector-4 {
    top: 85%;
    left: 44%;
    width: 1%;
    border-left: 1px solid #0070C0;
    border-bottom: 1px solid #0070C0;
}

#academic-connector-5 {
    top: 48%;
    left: 75%;
    width: 2%;
    height: 9%;
    border-left: 1px solid #0070C0;
    border-bottom: 1px solid #0070C0;
}

#academic-connector-6 {
    top: 62%;
    left: 75%;
    width: 2%;
    height: 9%;
    border-left: 1px solid #0070C0;
    border-bottom: 1px solid #0070C0;
}

#academic-connector-7 {
    top: 76%;
    left: 75%;
    width: 2%;
    height: 10%;
    border-left: 1px solid #0070C0;
    border-bottom: 1px solid #0070C0;
}

#volunteer-title {
    position: relative;
    width: 50%;
    top: 10px;
    left: 5%;
    border: 1px solid #0070C0;
    border-radius: 0.3em;
    background-color: #00384D;
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    color: #00B0F0;
    text-align: center;
    z-index: 60;
}

#volunteer-area {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content:space-between;
}

#volunteer-divider {
    position: absolute;
    left: 0%;
    top: 20px;
    width: 56%;
    border-top: 1px solid #0070C0;
    z-index: 40;
}

.volunteer-item {
    position: absolute;
    height: 25px;
    line-height: 2;
    border-bottom: 2px solid #0070C0;5px;
    color: #00B0F0;
    border: 1px solid #0070C0;
    border-radius: 0.3em;
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(180,25,155,0.25);
}

#hospice {
    top: 28%;
    left: 7%;
    width: 48%;
}

#terry-fox {
    top: 52%;
    left: 7%;
    width: 48%;
}

#hotline {
    top: 75%;
    left: 7%;
    width: 48%;
}

#date-2013 {
    top: 10px;
    left: 57%;
    width: 7%;
    border-bottom: 2px solid #0070C0;
}

#date-2014 {
    top: 10px;
    left: 65%;
    width: 7%;
    border-bottom: 2px solid #0070C0;
}

#date-2015 {
    top: 10px;
    left: 73%;
    width: 7%;
    border-bottom: 2px solid #0070C0;
}

#date-2016 {
    top: 10px;
    left: 81%;
    width: 7%;
    border-bottom: 2px solid #0070C0;
}

#date-2017 {
    top: 10px;
    left: 89%;
    width: 7%;
    border-bottom: 2px solid #0070C0;
}

#date-2018 {
    top: 10px;
    left: 97%;
    width: 7%;
    border-bottom: 2px solid #0070C0;
}

.volunteer-dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #0070C0;
    border-radius: 50%;
    background-color: rgba(180,25,155,0.25);
}

#volunteer-dot-1{
    top: 50px;
    left: 59%;
}

#volunteer-dot-2{
    top: 50px;
    left: 75%;
}

#volunteer-dot-3{
    top: 92px;
    left: 59%;
}

#volunteer-dot-4{
    top: 133px;
    left: 59%;
}

#volunteer-dot-5{
    top: 133px;
    left: 97%;
    cursor: pointer;
}

.volunteer-triangle {
    position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 30px solid rgba(180,25,155,0.5);
	border-bottom: 10px solid transparent;
}

.volunteer-connector {
    position: absolute;
    border-bottom: 6px solid rgba(180,25,155,0.5);
}

#volunteer-connector-1 {
    top: 57px;
    left: 62%;
    width: 13%;
}

#volunteer-connector-2 {
    top: 140px;
    left: 62%;
    width: 35%;
}

#stack-area {
    width: 100%;
    height: 630px;
    display: flex;
    justify-content:space-between;
}

#techsplenation {
    top: 0px;
    left: 63%;
}

#stack-title {
    position: absolute;
    width: 30%;
    top: 10px;
    left: 35%;
    border: 1px solid #0070C0;
    border-radius: 0.3em;
    background-color: #00384D;
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    color: #00B0F0;
    text-align: center;
}

#stack-project-title-1 {
    position: absolute;
    width: 30%;
    top: 0;
    left: 0;
    border: 1px solid #0070C0;
    border-radius: 0.3em;
    background-color: #00384D;
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    color: #00B0F0;
    text-align: center;
}

#stack-project-title-2 {
    position: absolute;
    width: 30%;
    top: 0;
    right: 0;
    border: 1px solid #0070C0;
    border-radius: 0.3em;
    background-color: #00384D;
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    color: #00B0F0;
    text-align: center;
}

.stack-item-title {
    position: absolute;
    height: 50px;
    color: #00B0F0;
    border: 1px solid #0070C0;
    border-radius: 0.3em;
    font-family: 'PT Mono', monospace;
    font-size: 11px;
    display: table;
    text-align: center;
    background-color: rgba(180,25,155,0.25);
    padding-left: 2%;
    padding-right: 2%;
}

.stack-item-title p {
    display: table-cell;
    vertical-align: middle;
}
    
#title-web-dev {
    top: 63px;
    left: 19.5%;
    width: 20%;
}

#title-drawing {
    top: 545px;
    left: 19.5%;
    width: 20%;
}

#title-ml-nltk {
    top: 63px;
    left: 40%;
    width: 20%;
}

#title-scripting {
    top: 63px;
    right: 19.5%;
    width: 20%;
}

#title-apis {
    top: 545px;
    right: 19.5%;
    width: 20%;
}

.stack-item {
    position: absolute;
    color: #00B0F0;
    border: 1px solid #0070C0;
    border-radius: 0.1em;
    font-family: 'PT Mono', monospace;
    font-size: 12px;
    text-align: center;
    display: table;
    vertical-align: middle;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.hexagon {
    position: absolute;
}

.hexagon img {
    width: 70px; 
    opacity: 0.4;
    z-index: 50;
}
.hex_red {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 70;
}

.hex_blue {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 70;
}

.hex-text {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    color: #00B0F0;
    font-family: 'PT Mono', monospace;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    z-index: 90;
}

a.hex-text:hover {
    color: #f9027d;
}

.hex-dexter {
    left: 2%;
    top: 10%;
}

.hex-creatures {
    left: 2%;
    top: 27%;
}

.hex-gilmores {
    left: 2%;
    top: 44%;
}

.hex-aliens {
    left: 2%;
    top: 61%;
}

.hex-schools {
    left: 2%;
    top: 78%;
}

.hex-fashion {
    left: 6%;
    top: 18%;
}

.hex-scory1 {
    left: 6%;
    top: 35%;
}

.hex-scory2 {
    left: 6%;
    top: 52%;
}

.hex-foodies {
    left: 6%;
    top: 69%;
}

.hex-dollhouse {
    left: 6%;
    top: 86%;
}

.hex-bbuk {
    right: 2%;
    top: 10%;
}

.hex-mental-health {
    right: 2%;
    top: 27%;
}

.hex-lgbt {
    right: 2%;
    top: 44%;
}

.hex-sleuth {
    right: 2%;
    top: 61%;
}

.hex-spellbook {
    right: 2%;
    top: 78%;
}

.hex-lamjo {
    right: 6%;
    top: 18%;
}

.hex-lajohn {
    right: 6%;
    top: 35%;
}

.hex-twata {
    right: 6%;
    top: 52%;
}

.hex-fashboard {
    right: 6%;
    top: 69%;
}

.hex-clustr {
    right: 6%;
    top: 86%;
}

#web-dev {
    top: 125px;
    left: 19.5%;
    width: 20%;
    height: 200px;
    background-color: rgba(255, 54, 224, 0.3);
}

#drawing {
    top: 333px;
    left: 19.5%;
    width: 20%;
    height: 200px;
    background-color: rgba(255, 192, 0, 0.3);
}

#ml-nltk {
    top: 125px;
    left: 40%;
    width: 20%;
    height: 470px;
    background-color: rgba(255, 118, 54, 0.3);
    font-size: 12px;
}

#scripting {
    top: 125px;
    right: 19.5%;
    width: 20%;
    height: 200px;
    background-color: rgba(0, 56, 77, 0.7);
}

#apis {
    top: 333px;
    right: 19.5%;
    width: 20%;
    height: 200px;
    background-color: rgba(0, 176, 80, 0.3);
}

.stack-project-link {
    position: absolute;
    color: #00B0F0;
    font-family: 'PT Mono', monospace;
    font-size: 14px;
}

.stack-item-projects {
    position: absolute;
    color: #00B0F0;
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    vertical-align: middle;
}

.stack-item p {
    cursor: default;
}

#web-dev-projects {
    text-align: right;
    top: 13%;
    left: 3%;
}

#drawing-projects {
    text-align: right;
    top: 290px;
    left: 3%;
}

#scripting-projects {
    text-align: left;
    top: 13%;
    right: 3%;
}

#apis-projects {
    text-align: left;
    top: 290px;
    right: 3%;
}

.stack-connector {
    position: absolute;
}

#stack-connector-1 {
    border-left:  1px solid #0070C0;
    height: 95%;
    top: 5%;
    left: 0;
}

#stack-connector-2 {
    border-right:  1px solid #0070C0;
    height: 90%;
    top: 7%;
    left: 17%;
}

#stack-connector-3 {
    border-bottom:  1px solid #0070C0;
    width: 25%;
    bottom: 0;
    left: 0;
}

#stack-connector-4 {
    border-right:  1px solid #0070C0;
    height: 95%;
    top: 5%;
    right: 0;
}

#stack-connector-5 {
    border-left:  1px solid #0070C0;
    height: 90%;
    top: 7%;
    right: 17%;
}

#stack-connector-6 {
    border-bottom:  1px solid #0070C0;
    width: 25%;
    bottom: 0;
    right: 0;
}

#contact {
    font-family: 'PT Mono', monospace;
    font-size: 18px;
    color: #00B0F0;
    text-align: center;
    letter-spacing: 5px;
    top: 50px;
}