{% extends "_skeleton_template.html" %}
{% block title %}Lamar's Web Apps - Flask{% endblock %}
{% block content %}
<div id="content-box">

    <div class="row justify-content-between">
         <div class="col-xs-11 col-md" id='starter-left'>
             <div class="personal-info-box">
                 <div id="agent">AGENT PROFILE: JOHNSON, LAMAR W.</div>
             </div><br>
             <div class="personal-info-box">
                <div class="personal-info-label">[CODE NAME]</div>
                <div class="personal-info-info">DATA DETECTIVE</div>
             </div>
             <div class="personal-info-box">
                <div class="personal-info-label">[STATUS]</div>
                <div class="personal-info-info">TOP ASSET</div>
             </div>
             <div class="personal-info-box">
                <div class="personal-info-label">[SEX]</div>
                <div class="personal-info-info">MALE</div>
             </div>
             <div class="personal-info-box">
                <div class="personal-info-label">[AGE]</div>
                <div class="personal-info-info">24</div>
             </div>
             <div class="personal-info-box">
                <div class="personal-info-label">[D.O.B.]</div>
                <div class="personal-info-info">SEPT 7, 1993</div>
             </div>
             <div class="personal-info-box">
                <div class="personal-info-label">[MYERS BRIGGS]</div>
                <div class="personal-info-info">INTJ</div>
             </div>
             <div class="personal-info-box">
                <div class="personal-info-label">[MARITAL STATUS]</div>
                <div class="personal-info-info">SINGLE</div>
             </div>

             <div id='appearance'>
                <div id='appearance-title'>APPEARANCE</div>
                <img id="me" src="../../static/home_static/me_blue.png">
                <div id="appearance-box-area">
                    <div class="appearance-box">
                        <div class="appearance-box-label">EYE COLOUR</div>
                        <div class="appearance-box-info" id='eye'></div>
                    </div>
                    <div class="appearance-box">
                        <div class="appearance-box-label">HAIR COLOUR</div>
                        <div class="appearance-box-info" id='hair1'></div>
                        <div class="appearance-box-info" id='hair2'></div>
                    </div>
                    <div class="appearance-box">
                        <div class="appearance-box-label">HEIGHT</div>
                        <div class="appearance-box-info">5 FT 10</div>
                    </div>
                    <div class="appearance-box">
                        <div class="appearance-box-label">WEIGHT</div>
                        <div class="appearance-box-info">150 lbs</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-11 col-md" id='starter-right'>
            <div id='socials-title'>SOCIALS</div>
            <div id="social-box-area">
                <a href="http://lajohn.pythonanywhere.com/" data-toggle="tooltip" data-placement="right" title="My Django web app portal"><img class='logo' src="../../static/home_static/lajohn.png"></a>
                <a href="http://www.lamartalkscode.com/" data-toggle="tooltip" data-placement="right" title="My blog: LamarTalksCode.com"><img class='logo' src="../../static/home_static/blog.png"></a>
                <a href="https://github.com/lamar133/" data-toggle="tooltip" data-placement="right" title="@lamar133"><img class='logo' src="../../static/home_static/github.png"></a>
                <a href="https://www.linkedin.com/in/lamar-johnson/" data-toggle="tooltip" data-placement="right" title="@lamar-johnson"><img class='logo' src="../../static/home_static/linkedin.png"></a>
                <a href="https://twitter.com/_lamjo/" data-toggle="tooltip" data-placement="right" title="@_lamjo"><img class='logo' src="../../static/home_static/twitter.png"></a>
                <a href="http://an-idealme.tumblr.com/" data-toggle="tooltip" data-placement="right" title="@an-idealme"><img class='logo' src="../../static/home_static/tumblr.png"></a>
            </div>
            <div id='map-area'>
                <img id="map" src="../../static/home_static/map.png">
                <div id='current-location' data-toggle="tooltip" data-placement="right" title="Toronto"></div>
                
                <div class='nationalities' data-toggle="tooltip" data-placement="right" title="Jamaica" id="jamaica"></div>
                <div class='nationalities' data-toggle="tooltip" data-placement="right" title="Italy" id="italy"></div>
                <div class='nationalities' data-toggle="tooltip" data-placement="right" title="Czechia" id="czech"></div>
                <div class='nationalities' data-toggle="tooltip" data-placement="right" title="Croatia" id="croatia"></div>

                <div class='visited' data-toggle="tooltip" data-placement="right" title="Jamaica" id="jamaica"></div>
                <div class='visited' data-toggle="tooltip" data-placement="right" title="Italy" id="italy"></div>
                <div class='visited' data-toggle="tooltip" data-placement="right" title="Czechia" id="czech"></div>
                <div class='visited' data-toggle="tooltip" data-placement="right" title="Dominican Republic" id="dominican"></div>
                <div class='visited' data-toggle="tooltip" data-placement="right" title="Cuba" id="cuba"></div>

                <img id="icon-current-location" src="../../static/home_static/locate_red.png" data-toggle="tooltip" data-placement="right" title="Lamar's current location">
                <img id="icon-nationalities" src="../../static/home_static/locate_gray.png" data-toggle="tooltip" data-placement="right" title="Lamar's nationalities">
                <img id="icon-visited" src="../../static/home_static/locate_green.png" data-toggle="tooltip" data-placement="right" title="Countries Lamar has visited">
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-xs-11 col-md-10">
            <div id='languages-title'>LANGUAGES</div>
            <div id="voicebox-area">
                <img class='waves' src='../../static/home_static/sound.gif'>
                <img class='waves' src='../../static/home_static/sound.gif'>
                <img class='waves' src='../../static/home_static/sound.gif'>
                <img class='waves' src='../../static/home_static/sound.gif'>
            </div>
            <div id="languages-area">
                <div class="language">EN</div>
                <div class="language">FR</div>
                <div class="language">GE</div>
                <div class="language">IT</div>
            </div>
        </div>
    </div><br>
    <div class="row justify-content-md-center">
        <div class="col-xs-11 col-md-10">
            <div id='academics-title'>ACADEMIC BACKGROUND</div>
            <div id="academics-area">
                <img id='york' src='../../static/home_static/york.png'>
                <div class="academic-item" id="psychology">PSYCHOLOGY</div>
                <div class="academic-item" id="neuroscience">NEUROSCIENCE</div>
                <div class="academic-item" id="social-psych">SOCIAL PSYCHOLOGY</div>
                <div class="academic-item" id="anatomy">ANATOMY</div>
                <div class="academic-item" id="power-dynamics">SOCIAL POWER DYNAMICS</div>
                <div class="academic-item" id="honour-roll">MEMBER OF DEAN'S HONOUR ROLL</div>
                <div class="academic-item" id="linguistics">LINGUISTICS</div>
                <div class="academic-item" id="neurolinguistics">NEUROLINGUISTICS</div>
                <div class="academic-item" id="psycholinguistics">PSYCHOLINGUISTICS</div>
                <div class="academic-item" id="discourse-analysis">DISCOURSE ANALYSIS</div>
                
                <div class="academic-connector" id="academic-connector-1"></div>
                <div class="academic-connector" id="academic-connector-2"></div>
                <div class="academic-connector" id="academic-connector-3"></div>
                <div class="academic-connector" id="academic-connector-4"></div>
                <div class="academic-connector" id="academic-connector-5"></div>
                <div class="academic-connector" id="academic-connector-6"></div>
                <div class="academic-connector" id="academic-connector-7"></div>
            </div>
        </div>
    </div><br>
    <div class="row justify-content-md-center">
        <div class="col-xs-11 col-md-10">
            <div id='volunteer-title'>VOLUNTEERISM</div>
            <div id="volunteer-area">
                <div id='volunteer-divider'></div>
                <div class="volunteer-item" id="hospice">HOME HOSPICE CARE</div>
                <div class="volunteer-item" id="terry-fox">TERRY FOX RUN OPERATION COORDINATOR</div>
                <div class="volunteer-item" id="hotline">CRISIS HOTLINE RESPONDER</div>
                
                <div class="volunteer-item" id="date-2013">2013</div>
                <div class="volunteer-item" id="date-2014">2014</div>
                <div class="volunteer-item" id="date-2015">2015</div>
                <div class="volunteer-item" id="date-2016">2016</div>
                <div class="volunteer-item" id="date-2017">2017</div>
                <div class="volunteer-item" id="date-2018">2018</div>
                
                <div class="volunteer-dot" id="volunteer-dot-1"></div>
                <div class="volunteer-dot" id="volunteer-dot-2"></div>
                <div class="volunteer-dot" id="volunteer-dot-3"></div>
                <div class="volunteer-dot" id="volunteer-dot-4"></div>
                <div class="volunteer-triangle" id="volunteer-dot-5" data-toggle="tooltip" data-placement="right" title="Ongoing"></div>
                
                <div class="volunteer-connector" id="volunteer-connector-1"></div>
                <div class="volunteer-connector" id="volunteer-connector-2"></div>
            </div>
        </div>
    </div><br>
    <div class="row justify-content-md-center">
        <div class="col-xs-11 col-md-10">
            <div id="stack-area">
                <div id='stack-project-title-1'>PROJECTS</div>
                <div id='stack-title'>TECH STACK + TOOLS</div>
                <div id='stack-project-title-2'>PROJECTS</div>
                <div class="stack-item-title" id="title-web-dev"><p>WEB DEV</p></div>
                <div class="stack-item-title" id="title-drawing"><p>DATA DRAWING</p></div>
                <div class="stack-item-title" id="title-ml-nltk"><p>MACHINE LEARNING + NLP</p></div>
                <div class="stack-item-title" id="title-scripting"><p>SCRIPTING + DATA ANALYSIS</p></div>
                <div class="stack-item-title" id="title-apis"><p>APIS</p></div>
                
                <div class="hexagon hex-dexter">
                    <img class="hex-red" id="dexter-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="dexter-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="http://www.lamartalkscode.com/dexter-v-death-row/">[DEXTER]</a>
                </div>
                <div class="hexagon hex-creatures">
                    <img class="hex-red" id="creatures-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="creatures-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="http://www.lamartalkscode.com/a-creatural-mosaic-ranked-for-success/">[CREATURES]</a></div>
                <div class="hexagon hex-gilmores">
                    <img class="hex-red" id="gilmores-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="gilmores-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="http://www.lamartalkscode.com/a-gilmore-girls-pop-culture-reference-analysis/">[GILMORES]</a></div>
                <div class="hexagon hex-aliens">
                    <img class="hex-red" id="aliens-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="aliens-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="http://www.lamartalkscode.com/an-investigation-into-ufo-sightings-in-the-us/">[ALIENS]</a></div>
                <div class="hexagon hex-schools">
                    <img class="hex-red" id="schools-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="schools-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="http://www.lamartalkscode.com/the-process-behind-unequal-public-school-funding-in-the-u-s/">[SCHOOLS]</a></div>
                <div class="hexagon hex-fashion">
                    <img class="hex-red" id="fashion-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="fashion-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="http://www.lamartalkscode.com/learning-plots-with-project-runway/">[FASHION]</a></div>
                <div class="hexagon hex-scory1">
                    <img class="hex-red" id="scory1-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="scory1-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="http://www.lamartalkscode.com/scory-story-the-power-of-a-good-soundtrack/">[SCORY 1]</a></div>
                <div class="hexagon hex-scory2">
                    <img class="hex-red" id="scory2-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="scory2-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="http://www.lamartalkscode.com/scory-story-2-0/">[SCORY 2]</a></div>
                <div class="hexagon hex-foodies">
                    <img class="hex-red" id="foodies-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="foodies-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="http://www.lamartalkscode.com/colour-quantizing-some-of-my-favourite-foodies/">[FOODIES]</a></div>
                <div class="hexagon hex-dollhouse">
                    <img class="hex-red" id="dollhouse-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="dollhouse-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="http://www.lamartalkscode.com/storytime-dollhouse-and-the-relational-database/">[DOLLHOUSE]</a></div>
                <div class="hexagon hex-bbuk">
                    <img class="hex-red" id="bbuk-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="bbuk-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="http://www.lamartalkscode.com/big-brother-eviction-predictor-results/">[BBUK]</a></div>
                <div class="hexagon hex-mental-health">
                    <img class="hex-red" id="mental-health-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="mental-health-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="http://www.lamartalkscode.com/wp-content/uploads/2017/02/osmiViz.png">[MENTAL HEALTH]</a></div>
                <div class="hexagon hex-lgbt">
                    <img class="hex-red" id="lgbt-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="lgbt-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="http://www.lamartalkscode.com/the-global-peace-index-through-rainbow-coloured-glasses/">[LGBT]</a></div>
                <div class="hexagon hex-sleuth">
                    <img class="hex-red" id="sleuth-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="sleuth-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="http://lamjo.pythonanywhere.com/site_sleuth_search">[SLEUTH]</a></div>
                <div class="hexagon hex-spellbook">
                    <img class="hex-red" id="spellbook-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="spellbook-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="http://lamjo.pythonanywhere.com/spellbook_search">[SPELLBOOK]</a></div>
                <div class="hexagon hex-lamjo">
                    <img class="hex-red" id="lamjo-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="lamjo-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="http://lamjo.pythonanywhere.com/home">[LAMJO]</a></div>
                <div class="hexagon hex-lajohn">
                    <img class="hex-red" id="lajohn-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="lajohn-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="http://lajohn.pythonanywhere.com/">[LAJOHN]</a></div>
                <div class="hexagon hex-twata">
                    <img class="hex-red" id="twata-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="twata-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="#">[TWATA]</a></div>
                <div class="hexagon hex-fashboard">
                    <img class="hex-red" id="fashboard-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="fashboard-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="#">[FASHBOARD]</a></div>
                <div class="hexagon hex-clustr">
                    <img class="hex-red" id="clustr-red" src='../../static/home_static/hex_red.png'>
                    <img class="hex-blue" id="clustr-blue" src='../../static/home_static/hex.png'>
                    <a class='hex-text' href="#">[CLUSTR]</a></div>
                
                <div class="stack-item" id="web-dev">
                    <div class="table-cell">
                        <br>
                        <p id='stack-css'>CSS</p>
                        <p id='stack-django'>DJANGO</p>
                        <p id='stack-html'>HTML</p>
                        <p id='stack-jquery'>JQUERY</p>
                        <p id='stack-flask'>FLASK</p>
                    </div>
                </div>
                <div class="stack-item" id="drawing">
                    <div class="table-cell">
                        <br>
                        <p id='stack-bokeh'>BOKEH</p>
                        <p id='stack-d3'>D3.JS</p>
                        <p id='stack-hands'>MY HANDS</p>
                        <p id='stack-powerpoint'>POWERPOINT</p>
                        <p id='stack-tableau'>TABLEAU</p>
                    </div>
                </div>
                <div class="stack-item" id="ml-nltk">
                    <div class="table-cell">
                        <p id='stack-colour-quantization'>COLOUR QUANTIZATION</p>
                        <p id='stack-k-means'>K-MEANS</p>
                        <p id='stack-knn'>KNN</p>
                        <p id='stack-linear-regression'>LINEAR REGRESSION</p>
                        <p id='stack-logistic-regression'>LOGISTIC REGRESSION</p>
                        <p id='stack-naive-bayes'>NAIVE BAYES (NB)</p>
                        <p id='stack-named-entity-rec'>NAMED ENTITY REC</p>
                        <p id='stack-nltk'>NLTK</p>
                        <p id='stack-random-forests'>RANDOM FORESTS</p>
                        <p id='stack-sklearn'>SCIKIT-LEARN</p>
                        <p id='stack-sentiment-analysis'>SENTIMENT ANALYSIS</p>
                        <p id='stack-svm'>SVM</p>
                    </div>
                </div>
                <div class="stack-item" id="scripting">
                    <div class="table-cell">
                        <br>
                        <p id='stack-excel'>EXCEL</p>
                        <p id='stack-numpy'>NUMPY</p>
                        <p id='stack-pandas'>PANDAS</p>
                        <p id='stack-python'>PYTHON</p>
                        <p id='stack-sql'>SQL</p>
                    </div>
                </div>
                <div class="stack-item" id="apis">
                    <div class="table-cell">
                        <br>
                        <p id='stack-spotify'>SPOTIFY</p>
                        <p id='stack-tumblr'>TUMBLR</p>
                        <p id='stack-twitter'>TWITTER</p>
                        <p id='stack-youtube'>YOUTUBE</p>
                    </div>
                </div>
                
                <div class="stack-connector" id="stack-connector-1"></div>
                <div class="stack-connector" id="stack-connector-2"></div>
                <div class="stack-connector" id="stack-connector-3"></div>
                <div class="stack-connector" id="stack-connector-4"></div>
                <div class="stack-connector" id="stack-connector-5"></div>
                <div class="stack-connector" id="stack-connector-6"></div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-xs-11 col-md-12" id='contact'>[LAMAR_JOHNSON133@YAHOO.CA]</div>
    </div>
    <br><br><br>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        
        $("#icon-current-location").click(function(){
            $("#current-location").toggle(500);
        });
        $("#icon-nationalities").click(function(){
            $("#jamaica.nationalities").toggle(500);
        });
        $("#icon-nationalities").click(function(){
            $("#italy.nationalities").toggle(500);
        });
        $("#icon-nationalities").click(function(){
            $("#czech.nationalities").toggle(500);
        });
        $("#icon-nationalities").click(function(){
            $("#croatia.nationalities").toggle(500);
        });
        $("#icon-visited").click(function(){
            $("#jamaica.visited").toggle(500);
        });
        $("#icon-visited").click(function(){
            $("#italy.visited").toggle(500);
        });
        $("#icon-visited").click(function(){
            $("#czech.visited").toggle(500);
        });
        $("#icon-visited").click(function(){
            $("#dominican.visited").toggle(500);
        });
        $("#icon-visited").click(function(){
            $("#cuba.visited").toggle(500);
        });
    });
    </script>
    <script src="../../static/home_static/stack_selector.js"></script>
</div>
{% endblock %}